name: backdrop
description: A Flutter port of the Android backdrop library.
publish_to: 'none'
version: 0.1.0

environment:
  sdk: '>=3.2.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^3.0.0

flutter:
  shaders:
    - shaders/rounded_rect_refraction.frag
    - shaders/rounded_rect_refraction_with_dispersion.frag
    - shaders/default_highlight.frag
    - shaders/ambient_highlight.frag
    - shaders/gamma_adjustment.frag
